<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="rightdiv">
        Please enter your name then click submit
        <form action="/pax/new2" method ="POST" id="updateform">
               <label for="name">
                 <strong>Name</strong>
               </label>
               <input type="text" id="name" placeholder="Please enter your name" name="name" required>
               <label for="age">
                 <strong>Age</strong>
               </label>
               <input type="text" id="age" placeholder="Please enter your age" name="age" required>
               <input type="submit" value="Submit">
        </form>
     </div>     
</body>
</html>
